/*container*/

.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: center;
  border: 1px solid black;
}

.comp-container{
  display: flex;
  position: relative;
  border: 1px solid red;
}

.comp-delete{
  background-color: rgba(0, 0, 0, .9);
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  color: red;
  top: 10px;
  left: 10px;
}

.container-button{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

/*clock*/

.comp{
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
}

.clock-container{
  width: 400px;
  height: 200px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  background-image: url(../images/clockbackground.jpg);
}

.time-container{
  background-color: rgba(255, 255, 255, .9);
  width: 150px;
  border-radius: 4px;
  padding: 10px 0px;
}

/*weather*/
.weather-description, .weather-load{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 260px;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 4px;
}
.weather-load{
  text-align: center;
}
.weather-container{
  width: 400px;
  height: 250px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  background-image: url(../images/weather.jpg);
}
.weather{
  border: 1px solid brown;
}
.weather-text{
  display: flex;
  flex-direction: column;
}

/*autocomplete*/

.autocomplete{
  border: 1px solid black;
  padding: 20px;
  background: black;
}

.autocomplete-container{
  margin-top: 10px;
  background: rgb(255, 255, 255);
}

.autocomplete-search{
  border: 1px solid red;
  width: 100%;
}

.autocomplete-search:hover{
  background: rgba(245, 167, 167, .1);
}

.autocomplete-populate, .autocomplete-input{
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.autocomplete-input-text{
  border: 1px solid black;
  width: 100%;
}

.autocomplete-list{
  height: 200px;
  display:flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid green;
  margin: 20px 0px;
}
